@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 350;
    color: #E70E02;
} 

/* heading and logo */

h1, h2 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #A02003;
}

#logo {
    float:left;
    font-size: 300%;
}

#menu {
    font-size: 150%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: #A02003;
}

#menu a:hover {
    border-bottom: 1px ridge #E70E02;
}

.active {
    border-bottom: 1px ridge #E70E02;
}