@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 350;
    color: #E70E02;
} 

/* heading and logo */

h1, h2 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: #A02003;
}

#logo {
    float:left;
    font-size: 300%;
    margin-left: 75px;
}

#menu {
    font-size: 150%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: #A02003;
}

#menu a:hover {
    border-bottom: 1px ridge #E70E02;
}

.active {
    border-bottom: 1px ridge #E70E02;
}

/* hero image and cover text */

#hero-image {
    height: 600px;
    width: auto;
    object-fit: contain;
    background: url(../images/hero-image.jpg) no-repeat center center;
    
}

#cover-text {
    color: white;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    
    width: 300px;
    height: 200px;

    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 100px;

    background-color: rgb(74, 74, 74);

    bottom:50px;
    left: 250px;

    position: absolute;
}

#cover-text2 {
    color: white;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    
    width: 300px;
    height: 200px;

    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 100px;

    background-color: rgb(74, 74, 74);

    bottom:50px;
    right: 250px;

    position: absolute;
}

/* headings and text*/

#circuit {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color:  #fae9e9;
    font-size: x-large;
}

.left-about-heading {
    width: 60%;
    line-height: 20px;
    clear: both;
    margin-bottom: 20px;
  
} 

.right-about-heading {
    width: 60%;
    line-height: 20px;
    clear: both;
    margin: 20px;
    
}

.right-about h3 {
    text-align: left;
}

#right-about {
    padding-top: 3px;
    padding-bottom: 3px;
    width: 33%;
    float: right;
    background-color: yellow;
}

hr {
    border-top: 1px solid #A02003;
    width: 100%;
    margin: 1px 0;
}

/* lists */

ol.a {
   /* list-style-image: url(<i class="fa-light fa-person-running"></i>); */
    background: #fae9e9;
    padding-left: 20px;
    float: left;
}

ol.b {
    /* list-style-image: url(<i class="fa-light fa-person-running"></i>); */
     background: #fae9e9;
     padding-left: 20px;
     float: right;
 }

 /* images */

 #center {
    padding-top: 30px;
    height: 300px;
    width: 300%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: 0 auto;
    background-color: orange;
 
 
 }